@model Library.ViewModel.BorrowingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BorrowingRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookid" class="control-label"></label>
                <select asp-for="Bookid" class ="form-control" asp-items="ViewBag.Bookid">
                    @{
                        foreach (var item in Model.Book)
                        {
                            <option value="@item.BookId"> @item.Title </option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId">
                    @{
                        foreach (var item in Model.Member)
                        {
                            <option value="@item.MemberId"> @item.Name </option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
